__pycache__/
Include/
Lib/
Scripts/
pyvenv.cfg
test.ipynb
share/
svo.ipynb
REBEL.ipynb
keyword_test/
extract_keywords.ipynb
.vscode/
service_for_elasticsearch/testing
service_for_elasticsearch/main/preprocess.py
service_for_elasticsearch/GUI